To summarise, correlation is a number between -1 and 1 which quantifies the extent to which two variables ‘correlate’ with each other.

If one increases as the other increases, the correlation is positive

If one decreases as the other increases, the correlation is negative

If one stays constant as the other varies, the correlation is zero



In general, a positive correlation means that two variables will increase together and decrease together, e.g. an increase in rain is accompanied by an increase in humidity. A negative correlation means that if one variable increases the other decreases, e.g. in some cases, as the price of a commodity decreases its demand increases.



A perfect positive correlation means that the correlation coefficient is exactly 1. This implies that as one variable moves, either up or down, the other one moves in the same direction. A perfect negative correlation means that two variables move in opposite directions, while a zero correlation implies no relationship at all.

In [2]:
import pandas as pd
data=pd.read_csv("EDA_Gold_Silver_prices.csv")
data.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [8]:
correlation = data['SilverPrice'].corr(data['GoldPrice'])
correlation

0.9542559570539775

In [22]:
data['Year'] = pd.to_datetime(data['Month'], format='%b-%y').dt.year
data.head()
df_2008 = data[data["Year"] == 2008]
df_2008
correlation_2008= df_2008['SilverPrice'].corr(df_2008['GoldPrice'])
correlation_2008

0.009583757463369393

In [24]:
import pandas as pd
cur=pd.read_csv("currencies.csv")
cur.head()

,Currency,Chinese Yuan,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Algerian Dinar,Australian Dollar,Bahrain Dinar,Botswana Pula,...,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,Peso Uruguayo,Bolivar Fuerte
0,"July 01, 2016",9.29446,1.25367,143.645,1.05054,1.39596,NaN,1.87126,0.524882,NaN,...,20.3528,202.763,11.8246,1.36009,NaN,9.28428,3.06035,5.12668,NaN,13.9247
1,"July 05, 2016",9.31515,1.25322,142.715,1.06143,1.39684,154.063,1.85825,0.525213,15.2162,...,20.6240,202.886,11.7627,1.35689,49.0655,9.26724,NaN,5.12992,42.9026,13.9335
2,"July 06, 2016",9.31697,1.25834,140.540,1.07300,1.39286,154.094,1.87313,0.523717,15.2392,...,20.7232,NaN,11.8805,1.36208,49.0692,9.25643,NaN,5.11527,42.6425,13.8938
3,"July 07, 2016",9.31315,1.25737,140.640,1.06911,1.39316,153.957,1.85236,0.523829,15.1430,...,20.4288,202.351,11.9192,1.36098,49.0295,NaN,NaN,5.11637,42.4176,13.8968
4,"July 08, 2016",9.31350,1.25797,140.510,1.07261,1.39257,154.062,1.85974,0.523607,15.1202,...,20.6063,202.271,11.9327,1.36472,49.0408,9.26432,NaN,5.11423,42.2060,13.8909

In [38]:
correlation_matrix = cur.corr()

ValueError: could not convert string to float: '4,074.83'